body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.btnProduct{
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.delete-button {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.delete-button:hover {
  background: darkred;
}

.add-to-cart-btn {
  background: linear-gradient(to right, #28a745, #218838);
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
  background: linear-gradient(to right, #218838, #1e7e34);
  transform: scale(1.05);
}

.titleHome {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.titleHome::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #4CAF50;
  margin: 10px auto 0;
  border-radius: 2px;
}

.pointer{
  cursor: pointer !important;;
}
#Link{
  text-decoration: none;
}
.custom-toast {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: white !important; /* اللون الأخضر */
  color: black !important;
  border-radius: 8px !important;
  padding: 12px 16px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  z-index: 9999 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

.custom-toast-body {
  flex: 1 !important;
  text-align: left !important;
}
.GoAuth{
  text-decoration: underline;
}
.PAuth{
  margin: 7px 0;
  text-transform: capitalize;
}